// Header

// Navbar
.navbar {
  margin-bottom: 0px;
}

.pad-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 10px;
}

// Body Components
.content {
  a {
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;

    :hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  p {
    img {
      max-width: 100%;
    }
  }

  ul.posts {
    padding-left: 20px;
    list-style: circle;

    li {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }

  .tag_box {
    list-style: none;
    margin: 0;
    padding: 5px 0;
    overflow: hidden;

    li {
      float: left;
      padding: 3px;
      margin: 3px;
      background-color: #f7fcff;
      border-radius: 3px;
      -webkit-box-shadow: -1px 3px 5px 0px #f7fcff;
      -moz-box-shadow: -1px 3px 5px 0px #f7fcff;
      box-shadow: -1px 3px 5px 0px #f7fcff;

      &:hover {
        background-color: #e9f5ff;
      }

      a {

        span {
          vertical-align: super;
          font-size: 0.8em;
        }
      }
    }
  }

  .projects-home {
    .project {
      margin-top: 10px;
      background: #f7fcff;
      padding: 10px;
      height: 400px;

      img {
        height: 300px;
        width: 100%;
      }

      .image-block {
        height: 300px;
      }

      p {
        margin-top: 10px;
      }
    }
  }

  .social-media-list {
    list-style: none;
    margin: 0 auto;
    padding: 5px 0;
    overflow: hidden;
    position: relative;

    li {
      float: left;
      margin: 3px;
    }
  }

  .pagination {

    a {
      color: $brand-primary-light;
    }
    
    a.btn {
      background-color: $gray-darker;

      &:hover {
        color: $gray;
      }
    }
  }
}

.bio {
  margin-bottom: 10px;

  .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
  .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

  .bio-text {
    padding-top: 5px;
  }
}
.meta {
  padding-top: 15px;
}
.certs {
  .cert-img {
    width: 140px;
  }
  a {
    display: inline-block;
  }
  .wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}
.social {
  .social-icons {
    a {
      color: #3a403e;
      margin-left: 5px;
      margin-right: 5px;
    }
  }

  a {

    span {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}
.page-header {
  padding-bottom: 20px;

  .date {
    margin-left: 5px;
  }

  .social-media-list {
    padding: 0px;
    list-style: none;

    li {
      display: inline;
      list-style: none;
      float: left;
      margin: auto;
    }
  }
}

code, pre {
  text-shadow: none;
  color: #DADADA;
  background: #333333;
}

code {
  word-break: break-all;
  word-wrap: break-word;
}

//Footer
.footer-wrapper {
  background: $gray-darker;
  color: #eee;
  word-wrap: break-word;
  padding: 2px;
  height: 300px;

  @media only screen and (max-width: 480px) {
    height: 350px;
  }

  a {
    color: $gray;
  }

  #top-btn {
    margin: 10px;
  }
}

//font-awesome customs
.fa-nav {
  font-size: 1.7em;
}
.fa-10x {
  font-size: 128px;
}

// Thanks to https://codepen.io/ameyraut/pen/yfzog
.social {
  .fa-apple{
    &:hover {
      color:#aeb5c5;
    }
  }
  .fa-android{
    &:hover {
      color:#A5C63B;
    }
  }
  .fa-bitbucket,.fa-bitbucket-square{
    &:hover {
      color:#003366;
    }
  }
  .fa-bitcoin,.fa-btc{
    &:hover {
      color:#F7931A;
    }
  }
  .fa-css3{
    &:hover {
      color:#1572B7;
    }
  }
  .fa-dribbble{
    &:hover {
      color:#F46899;
    }
  }
  .fa-dropbox{
    &:hover {
      color:#018BD3;
    }
  }
  .fa-facebook,.fa-facebook-square{
    &:hover {
      color:#3C599F;
    }
  }
  .fa-flickr{
    &:hover {
      color:#FF0084;
    }
  }
  .fa-foursquare{
    &:hover {
      color:#0086BE;
    }
  }
  .fa-github,.fa-github-alt,.fa-github-square{
    &:hover {
      color:#070709;
    }
  }
  .fa-gitlab,.fa-gitlab-alt,.fa-gitlab-square {
    &:hover {
      color: #fc6d26;
    }
  }
  .fa-google-plus,.fa-google-plus-square{
    &:hover {
      color:#CF3D2E;
    }
  }
  .fa-html5{
    &:hover {
      color:#E54D26;
    }
  }
  .fa-instagram{
    &:hover {
      color:#A1755C;
    }
  }
  .fa-linkedin,.fa-linkedin-square{
    &:hover {
      color:#0085AE;
    }
  }
  .fa-linux{
    &:hover {
      color:#FBC002;
    }
    color:#333;}
  .fa-maxcdn{
    &:hover {
      color:#F6AE1C;
    }
  }
  .fa-pagelines{
    &:hover {
      color:#241E20;
    }
    color:#3984EA;}
  .fa-pinterest,.fa-pinterest-square{
    &:hover {
      color:#CC2127;
    }
  }
  .fa-renren{
    &:hover {
      color:#025DAC;
    }
  }
  .fa-skype{
    &:hover {
      color:#01AEF2;
    }
  }
  .fa-stack-exchange{
    &:hover {
      color:#245590;
    }
  }
  .fa-stack-overflow{
    &:hover {
      color:#FF7300;
    }
  }
  .fa-trello{
    &:hover {
      color:#265A7F;
    }
  }
  .fa-tumblr,.fa-tumblr-square{
    &:hover {
      color:#314E6C;
    }
  }
  .fa-twitter,.fa-twitter-square{
    &:hover {
      color:#32CCFE;
    }
  }
  .fa-vimeo-square{
    &:hover {
      color:#229ACC;
    }
  }
  .fa-vk{
    &:hover {
      color:#375474;
    }
  }
  .fa-weibo{
    &:hover {
      color:#D72B2B;
    }
  }
  .fa-windows{
    &:hover {
      color:#12B6F3;
    }
  }
  .fa-xing,.fa-xing-square{
    &:hover {
      color:#00555C;
    }
  }
  .fa-youtube,.fa-youtube-play,.fa-youtube-square{
    &:hover {
      color:#C52F30;
    }
  }
}

.icon-zoom .fa:hover, .icon-zoom .fa:active {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
  cursor: hand;
}

#share {
  font-size: 24px;
}
