<!DOCTYPE html>
<html lang="en">
  <head>
  {% if site.enforce_ssl %}
  <script type="text/javascript">
  var enforce = "{{ site.enforce_ssl }}";
  if ((enforce == window.location.host) && (window.location.protocol != "https:"))
  window.location = window.location.toString().replace(/^http:/, "https:");
  </script>
  {% endif %}

  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <META HTTP-EQUIV="Expires" CONTENT="-1">
  <link rel="icon" type="image/x-icon" href="https://bhavyanshu.me/favicon.ico?v=3"/>
  <title>
    {% if page.title %}
    {{ page.title }} |
    {% endif %}
    Bhavyanshu's Blog
  </title>
  {% if page.description %}
  <meta name="theme-color" content="#03478a">
  <meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="author" href="https://plus.google.com/112306240164215805986"/>

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if site.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% else %}
  <meta content="https://bhavyanshu.me{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  {% endif %}
  {% if page.image %}
  <meta content="https://bhavyanshu.me/assets/imags/{{ page.image }}" property="og:image">
  {% else %}
  <meta content="https://bhavyanshu.me/assets/imags/site_logo.png" property="og:image">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">

  {% endfor %}
  {% endif %}

  <link rel="alternate" type="application/rss+xml" title="RSS Feed for Bhavyanshu Parasher's Blog" href="/rss" />

  <meta name="twitter:card" content="summary" />
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:creator" content="@bvynshu" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" >
  <meta name="twitter:domain" content="https://bhavyanshu.me">
  <meta name="twitter:site" content="@bvynshu">

  <script src="{{ ASSET_PATH }}/js/font-awesome.js"></script>
  <script src="{{ ASSET_PATH }}/js/bootstrap.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/app.css?v=3">
  <link href="{{ ASSET_PATH }}/css/pygments-light.css" rel="stylesheet" type="text/css" media="all">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="margin-top: 2px;" href="{{ HOME_PATH }}"><span class="fa fa-home visible-xs"></span></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" style="margin-top: 2px;">
            <li><a id="top" href="{{ HOME_PATH }}">{{ site.title }}</a></li>
            <li><a href="https://bhavyanshu.me/projects">Projects</a></li>
            <li><a href="/archive">Blog</a></li>
            <li><a href="/tags">Tags</a></li>
         </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div> <!-- /container -->

    <footer class="footer-wrapper">
      <div class="text-center" id="top-btn">
        <a href="#top" title="Glide to top">
          <span class="fa-stack fa-2x icon-zoom">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-angle-double-up fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
      <p style="text-align:center;">Portions of site code is &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}
        with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll</a> & Bootstrap.</p>
        <p style="text-align:center;"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Site Content</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://bhavyanshu.me" property="cc:attributionName" rel="cc:attributionURL">Bhavyanshu Parasher</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/bhavyanshu/bhavyanshu.github.com" rel="dct:source">https://github.com/bhavyanshu/bhavyanshu.github.com</a>.
        </p>
        <p style="text-align:center;">Also please take a look at <a href="https://bhavyanshu.me/privacy.html" title="Privacy Policy">user privacy policy</a> & <a href="https://bhavyanshu.me/terms.html" title="Terms & conditions">terms and conditions of usage of website.</a>
      </p>
    </footer>

    <script src="{{ ASSET_PATH }}/js/plugins.js?v=3"></script>
    <script src="{{ ASSET_PATH }}/js/app.js?v=3"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
  </body>
</html>
