<div class="page-header">
  <h1>
    {{ page.title }}
  </h1>
  <div class="date">
    <p><span>{{ page.date | date_to_long_string }}</span>
      <span>By Bhavyanshu Parasher</span>
    </p>
  </div>
  <h1> {% if page.tagline %}
      <small>{{ page.tagline }}</small>
    {% endif %}
  </h1>
</div>
<div class="row">
  <div class="col-md-9">
    {{ content }}
    <hr>
    <div class="text-center">
      <div class="pagination btn-group">
        {% if page.previous %}
          <a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a>
        {% else %}
          <a class="btn disabled prev">&larr; Previous</a>
        {% endif %}
          <a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a>
        {% if page.next %}
          <a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a>
        {% else %}
          <a class="btn next disabled">Next &rarr;</a>
        {% endif %}
      </div>
    </div>
    <hr>
    {% include JB/comments %}
  </div>

  <div class="col-md-3">
    <section>
      <h4><strong>Share</strong></h4>
      <div id="share"></div>
      <h4><strong>Published</strong></h4>
      <div class="date"><span>{{ page.date | date_to_long_string }}</span> By <a href="https://plus.google.com/112306240164215805986?rel=author" rel="me" target="_blank">Bhavyanshu Parasher</a> - <a href="mailto:mail@bhavyanshu.me">mail@bhavyanshu.me</a></div>
    </section>
    {% unless page.tags == empty %}
      <section>
        <h4><strong>Tags</strong></h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
      <hr/>
    {% endunless %}
  </div>
</div>
<!-- Initializing for URL shortening service. -->
<script type="text/javascript">
$(document).ready(function() {
    $("#share").jsSocials({
        shares: ["twitter", "facebook", "googleplus"],
        showLabel: false,
        showCount: false,
    });
});
</script>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
